<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nongbang.hg.nongbang">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- sd卡写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 在SD卡中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- opencv需要 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <!-- 配置opencv -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/TranslucentTheme">
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageManipulationsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ZwJsActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".PermissionsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".TiJianActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="nongbang.hg.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".PhotoShopActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AddZwActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".MyZWActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ChoiceCityActivity"
            android:theme="@style/TranslucentTheme" />
        <activity android:name=".FindZyActivity" />
        <activity
            android:name=".FindZwActivity"
            android:theme="@style/TranslucentTheme" />
        <activity android:name=".AddAnPaiActivity" />
        <activity android:name=".APRQActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".test" />
        <activity android:name=".SettingActivity"></activity>
    </application>

</manifest>